h1 {
    color: darkred;
}
.container {
    max-width: 840px;
    margin: 0 auto;
}
.introduction {
text-align: center;
}
.about {
    display: grid;
    grid-template-columns: 50% 50%;
}

.skills, .social_media {
    text-align: center;
    text-decoration: none
}

.about_list {
    list-style: none;
    padding: 0;
    margin: 0;
}